<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{pizzas/fragment :: resources}">
    <meta charset="UTF-8">
    <title>Pizzas</title>
</head>
<body>
<nav th:replace="~{pizzas/fragment :: navbar('pizzas')}"></nav>
<div class="w-75 mx-auto mt-5">
    <!-- <h1><a th:href="@{/pizzas/create}" class="btn btn-primary rounded-circle" title="add pizza"><i
             class="fa-solid fa-plus"></i></a></h1>-->
    <h1 class="text-danger">Pizzas &#127829; <a th:href="@{/pizzas/create}" class="btn btn-danger rounded-circle"
                                                title="add pizza"><i
            class="fa-solid fa-plus"></i></a></h1>
    <div th:if="${pizzas.size() == 0}">No Pizza :(</div>
    <table th:unless="${pizzas.size() == 0}" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">N°</th>
            <th scope="col">Pizza</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pizza : ${pizzas}">
            <td scope="row" th:text="${pizza.id}"></td>
            <th th:text="${pizza.name}"></th>
            <td th:text="${pizza.description}"></td>
            <td class="text-danger" th:text="${pizza.price}+0€"></td>
            <td><a th:href="@{|/pizzas/${pizza.id}|}" class="btn btn-danger btn-sm" title="detail"><i
                    class="fa-solid fa-circle-info"></i></a></td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="~{pizzas/fragment :: scripts}"></th:block>
</body>
</html>